{template header}
<div class="header">
<h1>TP-COUPON 升级向导</h1>
<span>V1.01 To V1.10版 简体中文 UTF8 版</span>
</div>
<div class="main" style="margin-top:-123px;">
	<div class="licenseblock">
    <div class="license">
    <h1>V1.01版 To V1.10版升级说明</h1>
    <!--{$changelog}-->
	</div>
    </div>
	<div class="btnbox marginbot">
		<form method="post" action="101to110_2.php">		
		<input type="submit" value="确定升级" style="padding: 2px">&nbsp;
		<input type="button" value="取消升级" style="padding: 2px" onclick="javascript: window.close(); return false;">
		</form>
	</div>
{template footer}