{template header}
<div class="header">
<h1>TP-COUPON 升级向导</h1>
<span>V1.16 To V1.17版 简体中文 UTF8 版</span>
</div>
<div class="main" style="margin-top:-123px;">
	<div class="licenseblock">
    <div class="license">
    <h1>V1.16版 To V1.17版升级说明</h1>
    <ol>
	<li>将模板中的数据改为函数调用，按需调用，更方便制作模板</li>
    <li>增加以QQ帐号登陆后领取优惠券强制发送分享到QQ空间的功能</li>
	<li>增加促销活动功能</li>
    <li>增加超值折扣商品功能</li>
	<li>修改一些后台操作功能</li>
	<li>修正一些bug</li>
	</ol>
	</div>
    </div>
	<div class="btnbox marginbot">
		<form method="post" action="116to117_2.php">		
		<input type="submit" value="确定升级" style="padding: 2px">&nbsp;
		<input type="button" value="取消升级" style="padding: 2px" onclick="javascript: window.close(); return false;">
		</form>
	</div>
{template footer}