ol,ul,li,form{ list-style:none;margin:0;padding:0;}
.tao-wrap{ clear: both; margin:0 auto ;width:990px; overflow:hidden; margin-top:10px;}
.tao-wrap .lt{margin:0px;float:left;width:696px;overflow:hidden;}
.tao-wrap .ri{margin:0px;float:right;width:270px;overflow:hidden;}
.tao-filters{ clear:both;margin:0px; padding:0px;  text-align: left; overflow:hidden;background:#fff;}
.tao-filters p{ float:left;clear:both;margin:0 0 4px 0; padding:0 0 2px 0;  overflow:hidden;background: #5f9b0e;font-size:12px; line-height:29px; display:block; font-weight: bold; color:#fff;height:29px;width:100%; text-indent:16px;}
.tao-filters p a{margin:0; padding:0px 0 0px 520px;font-size:12px; line-height:28px;text-decoration:none; font-weight:normal; color:#000;  background-color: #f9fafe; overflow:hidden;  border-top:1px #dcdce6 solid;float:right;}
.tao-filters p a:hover{ color:#5f9b0e; text-decoration:none;}
.tao-filters dl {clear:both;margin:10px 0 10px 0; padding:0 0 10px 0; border-bottom:dashed 1px #9C6;overflow:hidden;zoom:1; }
.tao-filters dl dd{float:left;margin:0; padding:0px ; overflow:hidden;color:#000; font-size:12px; text-decoration:none; line-height:26px; }
.tao-filters dl dd input{ color:#5f9b0e; text-decoration:none;line-height:20px;height:20px;margin-right:8px;}
.tao-filters dl dd BUTTON{background: url("Images/btn1.png") no-repeat -92px 0px; color:#5f9b0e; text-decoration:none;padding:4px;margin-right:8px;width:56px;color:#fff; border:0;line-height:18px; }

.tao-filters ol {clear:both;margin:6px 0 10px 0 ; padding:10px 10px 10px 12px ; overflow:hidden;background-color:#e8fccc; }
.tao-filters ol li{ float:left; color:#669900; margin:-1px 0 0 -1px; border:1px #bdf968 solid;width:111px; background-color:#fff;}
.tao-filters ol li a img{ width:60px; height:60px; border:0;padding:8px 20px;}
.tao-filters ol li a { font-size:12px; color:#666; line-height:16px; text-decoration:none; }
.tao-filters ol li a span { font-size:12px; color: #666; text-align:center; width:111px; display:block; margin-bottom:8px;height:16px;line-height:16px; overflow:hidden;}
.tao-filters ol li:hover{border:1px #9C6 solid;	position:  relative;}
.tao-filters ol li a span:hover { font-size:12px; color:#000;text-decoration:none !important; }
.tao-filters ul {clear:both;margin:0; padding:0px 0 10px 0 ; overflow:hidden; width:100%;border-bottom:2px #d9d9d9 solid;zoom:1;}
.tao-filters ul li{ clear:both;padding:0px ; overflow:hidden; width:100%;margin:0;}
.tao-filters ul li a{float:left;  color:#669900; font-size:12px; text-decoration:none;margin-top:6px;padding:0 8px;line-height:24px;height:24px; display:block;white-space: nowrap;}
.tao-filters ul li a:hover{ background:#5f9b0e;color:#fff; text-decoration:none; }
.tao-filters ul li a.on{ color:#fff; font-size:12px; background:#5f9b0e; font-weight:bold;margin-right:2px;padding:0 16px;}
.tao-listItem dl {clear:both;margin:10px 0 0 0 ; padding:0px ; overflow:hidden; background:#fff;border-bottom: 2px dotted #d9d9d9;zoom:1;}
.tao-listItem dl dt {margin:0px; padding: 10px ; width: 80px; float: left;}
.tao-listItem dl dt img {margin: 0px auto; width: 80px; display: block; border:0;}
.tao-listItem dl dd {margin:0px;padding: 10px 0px 0px 0px;width:590px; float:left;}
.tao-listItem dl dd h2{margin:0px;padding:0;color:#069; float: left;height:22px;line-height:22px;}
.tao-listItem dl dd h2 a{	color:#629e0f;font-size:16px;font-weight:bold;text-decoration:none;}
.tao-listItem dl dd h4{margin:0px;padding:0;float: right; color:#666;font-size:12px; font-weight:normal;height:22px;line-height:22px;}
.tao-listItem dl dd h4 a{color:#3477ff; font-weight:bold;text-decoration:none;}
.tao-listItem dl dd h4 a:hover {color:#f60;text-decoration:none;}
.tao-listItem dl dd p{ float: none;clear:both;font-size:12px;color:#999;width:100%;line-height:16px;}
.coupons {clear:both;overflow:hidden;margin:0px; padding:0;width:100%;}
.credit {background: url("Images/credit.gif") repeat-x -999px -999px; width: 0px; height: 16px; color: white; text-indent: -99em; verflow: hidden; font-size: 0px; margin-left: 5px; display: inline-block;}
a.coupon {margin: 0px 5px 20px 0px;padding: 10px 0px;	border: 2px solid  #67af01;width: 135px;text-align: center;color:#3477ff;font-size:12px;	font-weight: bold;display: inline-block;cursor: pointer; text-decoration: none; background:#FeFefe}
a.coupon:hover{background:#FeFefe; border: 2px solid #b7e1ef; color:#F60;text-decoration:none;}
span.condition{color:#F00!important; font-size:14px;}
span.denominations {color:#F00!important; font-size:14px;}
.credit_0 {	width: 0px;}
.credit_1 {	width: 17px;}
.credit_2 {	width: 34px;}
.credit_3 {	width: 51px;}
.credit_4 {	width: 68px;}
.credit_5 {	width: 85px;}
.credit_6 {	background-position: 0px -32px; width: 17px;}
.credit_7 {	background-position: 0px -32px; width: 34px;}
.credit_8 {	background-position: 0px -32px; width: 51px;}
.credit_9 {	background-position: 0px -32px; width: 68px;}
.credit_10 {background-position: 0px -32px; width: 85px;}
.credit_11 {background-position: 0px -64px; width: 17px;}
.credit_12 {background-position: 0px -64px; width: 34px;}
.credit_13 {background-position: 0px -64px; width: 51px;}
.credit_14 {background-position: 0px -64px; width: 68px;}
.credit_15 {background-position: 0px -64px; width: 85px;}
.credit_16 {background-position: 0px -80px; width: 17px;}
.credit_17 {background-position: 0px -80px; width: 34px;}
.credit_18 {background-position: 0px -80px; width: 51px;}
.credit_19 {background-position: 0px -80px; width: 68px;}
.credit_20 {background-position: 0px -80px; width: 85px;}
.score {background: url("Images/icons.png") no-repeat 0px 0px; width: 100px; height: 16px; color:#aaaaaa; text-indent: 65px; overflow: hidden; display: inline-block;}
.score_0 {background-position: -540px -162px;}
.score_1 {background-position: -540px -146px;}
.score_2 {background-position: -540px -130px;}
.score_3 {background-position: -540px -114px;}
.score_4 {background-position: -540px -98px;}
.score_5 {background-position: -540px -82px;}
.score_6 {background-position: -540px -65px;}
.score_7 {background-position: -540px -48px;}
.score_8 {background-position: -540px -31px;}
.score_9 {background-position: -540px -15px;}
.score_10 {background-position: -540px 0px;}
.shopAllCoupons {clear:both;overflow:hidden;margin:0px; padding:0;width:100%;}
.shopAllCoupons ul {clear:both;overflow:hidden;margin:0px; padding:0;width:100%;}
.shopAllCoupons li {clear:both;overflow:hidden;margin:0px; padding:0;color:#999999; margin-bottom:10px;}
.shopAllCoupons a {	margin: 0px; padding: 10px 70px 0px 0px; border: 2px solid #67af01; height: 70px; text-align: center; display: block; position: relative; text-decoration:none; background-color:#ffffff;}
.shopAllCoupons a:hover {border-color:#b7e1ef;background-color:#ffffff; text-decoration:none;}
.shopAllCoupons a:hover span.btn-holder {border-color:#b7e1ef;}
.shopAllCoupons a span h4{color:#999; font-weight:normal;}
.shopAllCoupons ul li h4{clear:both;overflow:hidden;margin:0px; padding:0;width:100%; font-size:12px; height:28px; line-height:	26px;}
.shopAllCoupons a span.btn-holder {	background: #f7fff7; top: 0px; width: 70px; height: 80px; right: 0px; border-left-color:#a0c359; border-left-width: 2px; border-left-style: dotted; display: block; position: absolute; cursor: pointer;}
.shopAllCoupons a .cutter {	background: url("Images/sprite.png") no-repeat -193px -217px; margin: 0px; padding: 0px; width: 24px; height: 24px; right: 54px; bottom: -8px; visibility: hidden; position: absolute; z-index: 100;}
.shopAllCoupons a:hover .cutter {visibility: visible;}
span.condition {color:#ff0000!important; font-size: 1.15em;}
.shopAllCoupons a span.btn {background: url("Images/btn1.png") no-repeat -92px 0px;top: 25px; left: 8px; position: absolute;width:42px;height:16px; overflow:hidden; background-color:#faa732; color:#fff; text-align:center;padding:6px;font-size: 12px; line-height:16px;}
.shopAllCoupons a span.btn1 {top: 25px; left: 8px; position: absolute;width:42px;height:16px; overflow:hidden; background-color:#cccccc; color:#666; text-align:center;padding:6px;font-size: 12px; line-height:16px;background: url("Images/btn1.png") no-repeat -92px -28px;}
.shopAllCoupons a:hover span.btn { background-color:#db5a04; color:#f7ffcc; background: url("Images/btn1.png") no-repeat -92px -84px;}
.shopAllCoupons1 {clear:both;overflow:hidden;margin:0px; padding:10px 0 0 0; border:1px solid #dddddd;background-color:#ffffff;}
.shopAllCoupons1 dl {clear:both;overflow:hidden;margin:0px; padding:0;width:100%; border-bottom:0px solid #ccc; height:30px;}
.shopAllCoupons1 dl dt{clear:both;overflow:hidden;margin:0 auto;  padding:0;width:96%; font-size:14px; font-weight:bold; line-height:30px; color:#414141;}
.shopAllCoupons1 ul {clear:both;overflow:hidden;margin:0px; padding:10px 0 20px 0;width:100%;}
.shopAllCoupons1 li {float:left;overflow:hidden;margin:0 0 25px 25px !important;margin:0 0 25px 15px ; padding:0;color:#999999; width:310px}
.shopAllCoupons1 a {	margin: 0px; padding: 10px 90px 0px 0px; border: 2px solid #67af01; height: 60px;line-height:45px; text-align: center; display: block; position: relative; text-decoration:none; background-color:#fff;}
.shopAllCoupons1 a:hover {border-color:#447d10;background-color:#e4fbc3; text-decoration:none;}
.shopAllCoupons1 a:hover span.btn-holder {border-color:#597d10;}
.shopAllCoupons1 a span h4{color:#999; font-weight:normal;}
.shopAllCoupons1 ul li h4{clear:both;overflow:hidden;margin:0px; padding:0;width:100%; font-size:12px; height:32px; line-height:32px;}
.shopAllCoupons1 a span.btn-holder {	background: #f7fff7; top: 0px; width: 90px; height: 70px; right: 0px; border-left-color:#a0c359; border-left-width: 2px; border-left-style: dotted; display: block; position: absolute; cursor: pointer;}
.shopAllCoupons1 a .cutter {	background: url("Images/sprite.png") no-repeat -193px -217px; margin: 0px; padding: 0px; width: 24px; height: 24px; right: 74px; bottom: -6px; visibility: hidden; position: absolute; z-index: 100;}
.shopAllCoupons1 a:hover .cutter {visibility: visible;}
.shopAllCoupons1 a span.btn {background: url("Images/btn1.png") no-repeat 0px 0px;top: 20px; left: 8px; position: absolute;width:62px;height:16px; overflow:hidden; background-color:#faa732; color:#fff; text-align:center;padding:6px;font-size: 12px; line-height:16px;}
.shopAllCoupons1 a span.btn1 {top: 20px; left: 8px; position: absolute;width:62px;height:16px; overflow:hidden; background-color:#cccccc; color:#666; text-align:center;padding:6px;font-size: 12px; line-height:16px;background: url("Images/btn1.png") no-repeat 0px -28px;}
.shopAllCoupons1 a:hover span.btn { background-color:#db5a04; color:#f7ffcc; background: url("Images/btn1.png") no-repeat 0px -84px;}
.shopAllCoupons2 {clear:both;overflow:hidden;margin:0px; padding:0;width:100%;}
.shopAllCoupons2 ul {clear:both;overflow:hidden;margin: 0; padding:0;width:110%;}
.shopAllCoupons2 li {float:left;overflow:hidden;margin:26px 26px 0 0 ; padding:0;color:#999999; width:335px}
.shopAllCoupons2 a {margin: 0px; padding: 10px 90px 0px 0px; border: 3px solid #67af01; height: 80px; text-align: center; display: block; position: relative; text-decoration:none; background-color:#ffffff;}
.shopAllCoupons2 a:hover {border-color:#b7e1ef;background-color:#fff; text-decoration:none;}
.shopAllCoupons2 a:hover span.btn-holder {border-color:#b7e1ef;}
.shopAllCoupons2 a span h4{color:#999; font-weight:normal;}
.shopAllCoupons2 ul li h4{clear:both;overflow:hidden;margin:0px; padding:0;width:100%; font-size:12px; height:42px; line-height:42px;}
.shopAllCoupons2 a span.btn-holder {	background: #f7fff7; top: 0px; width: 90px; height: 90px; right: 0px;line-height:42px; border-left-color:#a0c359; border-left-width: 2px; border-left-style: dotted; display: block; position: absolute; cursor: pointer;}
.shopAllCoupons2 a .cutter {	background: url("Images/sprite.png") no-repeat -193px -217px; margin: 0px; padding: 0px; width: 24px; height: 24px; right: 74px; bottom: -6px; visibility: hidden; position: absolute; z-index: 100;}
.shopAllCoupons2 a:hover .cutter {visibility: visible;}
.shopAllCoupons2 a span.btn { background: url("Images/btn1.png") no-repeat 0px 0px;top: 40px; left: 8px; position: absolute;width:62px;height:16px; overflow:hidden; background-color:#faa732; color:#fff; text-align:center;padding:6px;font-size: 12px; line-height:16px;}
.shopAllCoupons2 a:hover span.btn { background: url("Images/btn1.png") no-repeat 0px -84px;background-color:#db5a04; color:#f7ffcc;line-height:16px; }
.shopAllCoupons2 a span.btn1 {background: url("Images/btn1.png") no-repeat 0px -28px;top: 40px; left:8px; position: absolute;width:62px;height:16px; overflow:hidden; background-color:#cccccc; color:#fff; text-align:center;padding:6px;font-size: 12px; line-height:16px;}
.shopAllCoupons3 {clear:both;overflow:hidden;margin:0px 0 15px 0; padding:0; border:0px solid #e0e0e0;background-color:#e9e7e7;}
.shopAllCoupons3 dl {clear:both;overflow:hidden;margin:0px; padding:10px 0 0 0;width:100%; border-bottom:0px solid #ccc; background-color:#e9e7e7;height:30px;}
.shopAllCoupons3 dl dt{clear:both;overflow:hidden;margin:0 auto;  padding:0;width:90%; font-size:14px; font-weight:bold; line-height:30px; color:#414141;}
.shopAllCoupons3 ul {clear:both;overflow:hidden;margin:0px; padding:4px 0 20px 0;width:100%;}
.shopAllCoupons3 li {clear:both;overflow:hidden;margin:10px auto 0 auto ; padding:0;color:#999999; width:240px;border:1px solid  #EFFAC7;}
.shopAllCoupons3 a {margin: 0px; padding:0px 70px 0px 0px;height: 40px;line-height: 30px; text-align: center; display: block; position: relative; text-decoration:none; background-color:#FFF;}
.shopAllCoupons3 a:hover {border-color:#447d10;background-color:#e4fbc3; text-decoration:none;}
.shopAllCoupons3 a:hover span.btn-holder {border-color:#597d10;}
.shopAllCoupons3 a span h4{color:#999; font-weight:normal;}
.shopAllCoupons3 ul li h4{clear:both;overflow:hidden;margin:0px; padding:0;width:100%; font-size:12px; height:26px; line-height:26px;}
.shopAllCoupons3 a span.btn-holder {	background: #f7fff7; top: 0px; width: 70px; height: 40px; right: 0px; border-left-color:#a0c359; border-left-width: 2px; border-left-style: dotted; display: block; position: absolute; cursor: pointer;}
.shopAllCoupons3 a .cutter {	background: url("Images/sprite.png") no-repeat -193px -217px; margin: 0px; padding: 0px; width: 24px; height: 24px; right: 54px; bottom: -6px; visibility: hidden; position: absolute; z-index: 100;}
.shopAllCoupons3 a:hover .cutter {visibility: visible;}
.shopAllCoupons3 a span.btn {background: url("Images/btn1.png") no-repeat -92px 0px;top: 5px; left: 8px; position: absolute;width:42px;height:16px; overflow:hidden; background-color:#faa732; color:#fff; text-align:center;padding:6px;font-size: 12px; line-height:16px;}
.shopAllCoupons3 a span.btn1 {top: 5px; left: 8px; position: absolute;width:42px;height:16px; overflow:hidden; background-color:#cccccc; color:#666; text-align:center;padding:6px;font-size: 12px; line-height:16px;background: url("Images/btn1.png") no-repeat -92px -28px;}
.shopAllCoupons3 a:hover span.btn { background-color:#db5a04; color:#f7ffcc; background: url("Images/btn1.png") no-repeat -92px -84px;}
.r-num {color:#ff4444; font-family: Arial; font-size: 26px; font-weight:bold;}
.b-num {color:#000; font-family: Arial; font-size: 12px; padding-right:6px;}


.tao-css1 {clear:both;overflow:hidden;margin:10px 0 0 0; padding:0; border:0px solid #CCC; background-color:#ffe995;}
.tao-css1 dl {clear:both;overflow:hidden;margin:0px; padding:0;width:100%; border-bottom:0px solid #ccc; background-color:#ffe995;height:30px;}
.tao-css1  dl dt{clear:both;overflow:hidden;margin:0 auto;  padding:6px 0 0 0;width:90%; font-size:14px; font-weight:bold; line-height:30px;}
.tao-css1 ul {clear:both;overflow:hidden;margin:8px auto; padding:2px 0 0 0;width:90%;  background-image:url(Images/dots.gif); background-repeat:no-repeat;}
.tao-css1 ul li {clear:both;overflow:hidden;margin:0px; padding:0;padding-left:22px; }
.tao-css1 ul li a {color:#444444; font-size:12px; line-height:29px; text-decoration: none;}
.tao-css1 ul li a:hover {color:#000;}

.tao-css2 {clear:both;overflow:hidden;margin:15px 0 0 0; padding:0; border:1px solid #e0e0e0;background-color:#fff;}
.tao-css2  dl {clear:both;overflow:hidden;margin:0px; padding:10px 0 0 0;width:100%; border-bottom:0px solid #ccc; height:30px;}
.tao-css2  dl dt{color:#414141;clear:both;overflow:hidden;margin:0 auto;  padding:0;width:96%; font-size:14px; font-weight:bold; line-height:30px; }
.tao-css2  p { padding:0;margin:0 0 12px 0; text-align:right;padding-right:20px;}

.tao-css2  p a{ color:#000;  font-size:12px; line-height:16px;}
.tao-css2  p a:hover{ color:#f60; text-decoration:none; font-size:12px; line-height:16px;}
.tao-css2  ul {clear:both;overflow:hidden;margin:0px; padding:0 0 10px 0;width:100%;zoom:1;}
.tao-css2  li {float:left;overflow:hidden;margin:20px 0 0 24px !important ;margin:20px 0 0 16px ; padding:0;color:#999999; width:200px; height:270px;}
.tao-css2  li img{width:200px;height:200px; border:0;margin-bottom:4px;text-align:center;}
.tao-css2  li a{ color:#000; text-decoration:none; font-size:12px; line-height:16px;}
.tao-css2  li a:hover{ color:#f60; text-decoration:none; font-size:12px; line-height:16px;}
.tao-css2  li span{ color:#000; text-decoration:none; font-size:14px; line-height:20px; display:block;width:100%; text-align:center;}
.tao-css2  li span b{ color:#F60; text-decoration:none; font-size:20px; line-height:20px; }

.tao-css3 {clear:both;overflow:hidden;margin:0 0 0 0; padding:0; border:0px solid #CCC; background-color:#e9e7e7; zoom:1;}
.tao-css3 dl {clear:both;overflow:hidden;margin:0px; padding:6px 0 0 0;width:100%; border-bottom:0px solid #ccc; background-color:#e9e7e7;height:30px;}
.tao-css3  dl dt{ color:#414141;clear:both;overflow:hidden;margin:0 auto;  padding:0;width:90%; font-size:14px; font-weight:bold; line-height:30px;}
.tao-css3 ul {clear:both;overflow:hidden;margin:8px auto 0px auto; padding:0 0 0 0;width:90%; }
.tao-css3 ul li {clear:both;overflow:hidden;margin:-1px 0 10px 0; padding:6px 0 0 0; border-top:solid 1px #dcdcdc;}
.tao-css3 ul li a {color:#000; font-size:12px; line-height:16px; text-decoration: none;}
.tao-css3 ul li a:hover {color:#629e0f;text-decoration: none;}
.tao-css3 ul li a img{float:left; border:0;width:50px;height:50px;padding-right:6px;}
.tao-css3 ul li a span{ display:block;height:26px;line-height:36px;color:#F30;font-size:14px; }
.tao-css3 ol {clear:both;overflow:hidden;margin:8px 0 0px 10px; padding:0 0 0 0;width:90%; }
.tao-css3 ol li {clear:both;overflow:hidden;margin:-1px 0 10px 0; padding:12px 0 4px 0; border-top: dashed 1px #CCC;}
.tao-css3 ol li a {color:#000; font-size:12px; line-height:16px; text-decoration: none;}
.tao-css3 ol li a:hover {color:#629e0f;text-decoration: none;}
.tao-css3 ol li a img{float:left; border:0;width:50px;height:50px;padding-right:6px;}
.tao-css3 ol li a span{ display:block;height:16px;line-height:26px;color:#F30;font-size:14px; }

.tao-css4 {clear:both;overflow:hidden;margin:15px 0 0 0; padding:0; border:1px solid #ffd32c;background-color:#fff9e1;}
.tao-css4  dl {clear:both;overflow:hidden;margin:0px; padding:10px 0 0 0;width:100%; border-bottom:0px solid #ccc; background-color:#fff9e1;height:30px;}
.tao-css4  dl dt{clear:both;overflow:hidden;margin:0 auto;  padding:0;width:96%; font-size:14px; font-weight:bold; line-height:30px; color:#000;}
.tao-css4 ul {clear:both;overflow:hidden;margin:18px auto; padding: 0;width:94%; }
.tao-css4 ul li {clear:both;overflow:hidden;margin:0; padding: 0; font-size:12px;line-height:22px;}
.tao-css4 p { padding:0;margin:0; font-size:12px;line-height:22px;}

.tao-css5 {clear:both;overflow:hidden;margin:0 0 15px 0; padding:0; border:0px solid #CCC; background-color:#d2f0f7;}
.tao-css5 dl {clear:both;overflow:hidden;margin:0px; padding:6px 0 0 0;width:100%; border-bottom:0px solid #ccc; background-color:#d2f0f7;height:30px;}
.tao-css5  dl dt{color:#414141;clear:both;overflow:hidden;margin:0 auto;  padding:0;width:90%; font-size:14px; font-weight:bold; line-height:30px;}
.tao-css5 ul {clear:both;overflow:hidden;margin:8px auto 4px auto; padding:0 0 0 0;width:90%; }
.tao-css5 ul li {clear:both;overflow:hidden;margin:-1px 0 12px 0; padding:6px 0 0 0; border-top: dashed 1px #CCC;}
.tao-css5 ul li a {color:#000; font-size:12px; line-height:16px; text-decoration: none;}
.tao-css5 ul li a:hover {color:#629e0f;}
.tao-css5 ul li a img{float:left; border:0;padding-right:16px;}
.tao-css5 ul li a span{ display:block;height:26px;line-height:36px;color:#F30;font-size:14px; }
.tao-css5 h4{margin:4px 0;padding:0;color:#666;font-size:12px; font-weight:normal;line-height:16px;}
.tao-css5 h4 a{color:#3399fc; font-weight:bold;text-decoration:none;}
.tao-css5 h4 a:hover {color:#f60;}

.tao-shop{clear:both;margin:0px auto 10px ; padding:0px ; overflow:hidden; background:#d2f0f7;border: 0px solid #9C6;zoom:1;}
.tao-shop dl {clear:both;margin:0 ; padding:10px 0 10px 0 ; overflow:hidden;zoom:1;}
.tao-shop dl dt {margin:0px; padding: 10px ; width:120px; float: left;}
.tao-shop dl dt img {margin: 0px auto; width: 120px; display: block; border:0;}
.tao-shop dl dd img {border:0;}
.tao-shop dl dd {margin:0px;padding: 10px 0px 0px 0px; float:left;}
.tao-shop dl dd h1{margin:0px;padding:0;color:#3e8bfe; float: left;height:28px;line-height:28px;}
.tao-shop dl dd h1 a{	color:#414141;font-size:16px;font-weight:bold;text-decoration:none;}
.tao-shop dl dd h4{margin:4px 0;padding:0;color:#414141;font-size:12px; font-weight:normal;height:16px;line-height:16px;}
.tao-shop dl dd h4 a{color:#3399fc; font-weight:bold;text-decoration:none;}
.tao-shop dl dd h4 a:hover {color:#f60;}
.tao-shop dl dd p{ float: none;clear:both;font-size:14px;color:#333;width:100%;line-height:14px;}

.tao-show{clear:both;margin:0 auto; padding:10px 0px 20px 0px ; overflow:hidden; background:#fff;border: 1px solid #dddddd;}
.tao-show h1{margin:0px;padding:10px ;color:#629e0f; height:28px;line-height:28px; font-size:16px;}
.tao-show dl {clear:both;margin:0 ; padding:0px ; overflow:hidden;zoom:1;}
.tao-show dl dt {margin:0px; padding: 10px ; width:120px; float: left;}
.tao-show dl dt img {margin: 0px auto; width: 100px; display: block; border:0;}
.tao-show dl dd img {border:0;}
.tao-show dl dd {margin:0px;padding:0; float:left;}
.tao-show dl dd p span {line-height:38px !important;height:38px;padding-left:30px;}
.tao-show dl dd p span a{color:#3399fc; text-decoration: underline;font-size:12px;}
.tao-show dl dd p span a:hover {color:#f60;}
.tao-show dl dd p{ float: none;clear:both;font-size:14px;color:#333;width:100%;line-height:24px;}
.tao-show dl dd em{ font-size:18px;color:#F36;}