# 将 RewriteEngine 模式打开
RewriteEngine On

# 修改以下语句中的 /quan 为你的应用目录地址，如果程序放在根目录中，请将 /quan 修改为 /
#RewriteBase /quan

# Rewrite 系统规则请勿修改
RewriteRule ^index\.html$       index\.php [L]
RewriteRule ^index-index-p-([0-9]+)\.html$ index\.php\?m=Index&a=index&p=$1 [L]
RewriteRule ^user-bind-type-([a-z_A-Z]+)\.html$       index\.php\?m=User&a=bind&type=$1 [L]
RewriteRule ^(code|mall|tao|article|user|payment)-([a-z_A-Z]+)\.html$ index\.php\?m=$1&a=$2 [L]
RewriteRule ^user-([a-z_A-Z]+)-p-([0-9]+)\.html$ index\.php\?m=User&a=$1&p=$2 [L]
RewriteRule ^code-view-id-([0-9]+)\.html$       index\.php\?m=Code&a=view&id=$1 [L]
RewriteRule ^mall-(how2use|out|view)-id-([0-9]+)\.html$       index\.php\?m=Mall&a=$1&id=$2 [L]
RewriteRule ^mall-lists-cid-([0-9]+)-t_type-([0-9]+)-cid2-([0-9]+)-p-([0-9]+)\.html$       index\.php\?m=Mall&a=lists&cid=$1&t_type=$2&cid2=$3&p=$4 [L]
RewriteRule ^code-lastestpulled-p-([0-9]+)\.html$       index\.php\?m=Code&a=lastestpulled&p=$1 [L]
RewriteRule ^code-latest-cate_id-([0-9]+)-t_type-([0-9]+)-cate_id2-([0-9]+)-p-([0-9]+).html$       index\.php\?m=Code&a=latest&cate_id=$1&t_type=$2&cate_id2=$3&p=$4 [L]
RewriteRule ^code-hot-cate_id-([0-9]+)-type-([0-9]+)-cate_id2-([0-9]+)-p-([0-9]+).html$       index\.php\?m=Code&a=hot&cate_id=$1&type=$2&cate_id2=$3&p=$4 [L]
RewriteRule ^(promotion|zhekou)-index\.html$       index\.php\?m=$1 [L]
RewriteRule ^(promotion|zhekou)-(detail|out)-id-([0-9]+)\.html$       index\.php\?m=$1&a=$2&id=$3 [L]
RewriteRule ^promotion-index-cid-([0-9]+)-p-([0-9]+)\.html$       index\.php\?m=promotion&a=index&cid=$1&p=$2 [L]
RewriteRule ^zhekou-index-cid-([0-9]+)-t_type-([0-9]+)-p-([0-9]+)\.html$       index\.php\?m=zhekou&a=index&cid=$1&t_type=$2&p=$3 [L]
RewriteRule ^tao-index-cid-([0-9]+)-p-([0-9]+)\.html$       index\.php\?m=tao&a=index&cid=$1&p=$2 [L]
RewriteRule ^tao-(shop|show|out)-id-([0-9]+)\.html$       index\.php\?m=tao&a=$1&id=$2 [L]